/* body{
  margin: 0;
  padding: 0;
} */

/* Colors */

/* nav{
  background-color: green;
} */

/* .navigation{
  background-color: green;
}

.link{
  color: black;
  text-decoration:none;
}

.btn{
  border-width: 5px;
  border-color: rgb(21, 215, 102);
  border-style: solid;
  border-radius: 4px;

  height: 100px;
  width: 200px;

}

header{
  color: white;
  background-color: rgb(163, 211, 252);
  background-image: url('./images/bg.jpg');
  background-position: center;
}

.box{
  height: 200px;
  width: 200px;
  background-image: url(./images/bg.jpg);
  background-color: red;
  border-style: solid;
  border-color: aquamarine;
  border-width: 2px;
  border-radius: 4px;
  margin: 20px;
  padding:  20px;
  /* opacity: 0; */
  /* visibility: hidden; */
  /* display: none; */
/* } */

/* .text-style{
  font-size: 22px;
  color: brown;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: left;
  line-height: 100px;
} */

/* 
monospace
sans-serif
serif 
*/

/* .flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-end;
}

.flexbox{
  height: 200px;
  width: 200px;
  background-color: bisque;
}

.flexbox-2{
  height: 300px;
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  flex-grow: 25%;
} */

body{
  margin: 0;
}

.navigation{
  background-color: rgb(36, 36, 36);
  color: #ffffff;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand{
  color: #ffffff;
  text-decoration: none;
}

.nav-list{
  display: flex;
  list-style: none;
}

.nav-list li{
  margin-left: 5px;
  margin-right: 5px;
}

header{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgb(230, 230, 230);
}

header p{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

header button{
  background-color: rgb(21, 21, 21);
  color: #ffff;
  padding: 8px 15px;
  border: 1px solid black;
  border-radius: 6px;
}

.heading{
  font-family: 'Oswald';
}
main {
  padding: 15px;
  font-size: 22px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #b2b2b2;
}

footer a {
  color: black;
  text-decoration: none;
}

footer ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
}