/* body{
  margin: 0;
  padding: 0;
} */

/* Colors */

/* nav{
  background-color: green;
} */

/* .navigation{
  background-color: green;
}

.link{
  color: black;
  text-decoration:none;
}

.btn{
  border-width: 5px;
  border-color: rgb(21, 215, 102);
  border-style: solid;
  border-radius: 4px;

  height: 100px;
  width: 200px;

}

header{
  color: white;
  background-color: rgb(163, 211, 252);
  background-image: url('./images/bg.jpg');
  background-position: center;
}

.box{
  height: 200px;
  width: 200px;
  background-image: url(./images/bg.jpg);
  background-color: red;
  border-style: solid;
  border-color: aquamarine;
  border-width: 2px;
  border-radius: 4px;
  margin: 20px;
  padding:  20px;
  /* opacity: 0; */
  /* visibility: hidden; */
  /* display: none; */
/* } */

/* .text-style{
  font-size: 22px;
  color: brown;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: left;
  line-height: 100px;
} */

/* 
monospace
sans-serif
serif 
*/
 .flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
    align-items: flex-end;
}

.flexbox{
  height: 200px;
  width: 200px;
  background-color: bisque;
}

.flexbox-2{
  height: 300px;
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  margin: 0;
}

.navigation{
  background-color: rgb(36, 36, 36);
  color: #ffffff;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand{
  color: #ffffff;
  text-decoration: none;
}

.nav-list{
  display: flex;
  list-style: none;
}

.nav-list li{
  margin-left: 5px;
  margin-right: 5px;
}

header{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgb(230, 230, 230);
}

header p{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

header button{
  background-color: rgb(21, 21, 21);
  color: #ffff;
  padding: 8px 15px;
  border: 1px solid black;
  border-radius: 6px;
}

.heading{
  font-family: 'Oswald';
}
main {
  padding: 15px;
  font-size: 22px;
}

/* footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #b2b2b2;
}

footer a {
  color: black;
  text-decoration: none;
}

footer ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
}
*/ footer {
  background-color: #cecece;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}


.footer-list {
  display: flex;
  list-style: none;
}

.footer-list li {
  margin-left: 5px;
  margin-right: 5px;
}

.footer-link {
  color: black;
  text-decoration: none;
}

.grid {
  margin-top: 10px;
  margin-bottom: 5rem;

  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  /* column-gap: 15px;
  row-gap: 15px; */

  gap: 20px;

}

.grid-item {
  height: 200px;
  width: 100%;
  background-color: bisque;
  border: 1px solid #1a1a1a;
  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 1px 0px 1px 4px rgba(255, 0, 0, 0.5);
  text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.9);

}

.item-2 {
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 1;
  grid-row-end: 3;


  height: 100%;
}

.nav-item {
  grid-column-start: 2;
  grid-column-end: 4;
}

.footer-item {
  grid-column-start: 1;
  grid-column-end: 4;
}

.box {
  max-height: 400px;
  min-height: 200px;
  min-width: 150px;
  max-width: 300px;
}